---
import Layout from '@/layouts/Layout.astro'

import SectionContainer from '@/components/SectionContainer.astro'
---

<Layout
  title="eavelasquez portfolio - Software Engineer and Blockchain Enthusiast with 4 years of experience"
  description=""
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm eavelasquez
      </h1>
    </SectionContainer>
  </main>
</Layout>
