---
import Layout from '@/layouts/Layout.astro'

import Badge from '@/components/Badge.astro'
import BriefcaseIcon from '@/components/icons/Briefcase.astro'
import CodeIcon from '@/components/icons/Code.astro'
import ProfileCheckIcon from '@/components/icons/ProfileCheck.astro'
import SectionContainer from '@/components/SectionContainer.astro'
---

<Layout
  title="eavelasquez portfolio - Software Engineer and Blockchain Enthusiast with 4 years of experience"
  description=""
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/eavelasquez.webp"
        alt="eavelasquez photo"
      />

      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm eavelasquez <a
          class="flex justify-center items-center hover:scale-105 transition"
          href="https://linkedin.com/in/eavelasquez"
          target="_blank"
          rel="noopener"
        >
          <Badge>Available to work</Badge>
        </a>
      </h1>

      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>+4 years of experience.</span>
        <span class="text-yellow-800 dark:text-yellow-200">
          Software Engineer and Blockchain Enthusiast.
        </span>
        <span class="text-red-800 dark:text-red-200">
          From Medellin, Colombia.
        </span>
        <span class="text-sky-800 dark:text-sky-200">
          Specialized in creating unique solutions.
        </span>
      </h2>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <BriefcaseIcon class="size-7" />

        Experience
      </h2>
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />

        Projects
      </h2>
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheckIcon class="size-7" />
        About me
      </h2>
    </SectionContainer>
  </main>
</Layout>
