<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      +4 years of experience as a Software Engineer.
      <strong>
        Specialized in developing innovative and secure software solutions.
      </strong>
      Proven expertise in creating advanced products that meet the evolving needs
      of the market. Agile mindset with a focus on efficiency, thriving in dynamic
      startup environments and pioneering in technology projects.
    </p>

    <img
      class="rounded-full size-64 order-1 md:order-2"
      src="/me.webp"
      alt="profile image"
    />
  </div>
</section>
