---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCES = [
  {
    date: '2021-01-01',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae eros quis nunc aliquam aliquet vitae eget quam. Sed vitae eros quis nunc aliquam aliquet vitae eget quam.',
    title: 'Software Engineer',
    link: 'https://www.google.com'
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
