---
const year = new Date().getFullYear()
---

<footer>
  <div>
    <span>
      &copy; {{ year }} All rights reserved.
    </span>
    <ul>
      <li><a href="#"></a>About me</li>
      <li><a href="#"></a>Contact</li>
    </ul>
  </div>
</footer>
